.jumbotron{
    color:azure;
    background-image: url("https://images2.gamme.com.tw/news2/2017/49/24/q6CVnZ2YlKOesA.jpg");
    /* 圖片對齊寬 */
    background-size: cover;
    /* 圖片位置 */
    background-position:50% 30%;
    /* 圖片高度   vh:viewport height=視窗高度  */
    height: 30vh;
    margin-bottom:0px;
}

#sparklightlist {
    height: 170px;
}


div.gallery img {
    width: 300px;
    height:300px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
